@media all and (max-width: 767px) {
}

@media all and (max-width: 480px) {
  .chatbot-main-container {
    padding: 0px !important;
  }
  .card-container {
    border: none !important;
    max-height: calc(100dvh - 100px) !important;
  }
  .card-inner-container {
    padding: 12px !important;
  }
  .message-item {
    gap: 4px !important;
    flex-direction: column !important;
  }
  .input-element-container {
    padding: 6px 12px !important;
  }
  .message-item-bot {
    min-width: 95vw !important;
  }
}
